-i https://pypi.org/simple/
cairocffi==1.2.0
cairosvg==2.5.2
cffi==1.14.5
click==8.0.1
cssselect2==0.4.1
defusedxml==0.7.1
flask-weasyprint==0.6
flask==1.0.3
html5lib==1.1
importlib-metadata==4.5.0 ; python_version < '3.8'
itsdangerous==2.0.1
jinja2==3.0.1
markupsafe==2.0.1
pillow==8.2.0
pycparser==2.20
pyphen==0.10.0
six==1.16.0
tinycss2==1.1.0
typing-extensions==3.10.0.0 ; python_version < '3.8'
weasyprint==52.5
webencodings==0.5.1
werkzeug==2.0.1
zipp==3.4.1
