-i https://pypi.org/simple/
cairocffi==1.2.0
cairosvg==2.5.2
cffi==1.14.5
click==7.1.2
cssselect2==0.4.1
defusedxml==0.7.1
flask-weasyprint==0.6
flask==1.0.3
html5lib==1.1
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
pillow==8.1.2
pycparser==2.20
pyphen==0.10.0
six==1.15.0
tinycss2==1.1.0
weasyprint==52.4
webencodings==0.5.1
werkzeug==1.0.1
